@use './functions' as *;

$breakpoint: 560;

@mixin forPc {
  @media (min-width: (#{$breakpoint}px)) {
    @content;
  }
}

@mixin forSp {
  @media (max-width: (#{$breakpoint - 1}px)) {
    @content;
  }
}

@mixin mplus1 {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
}

@mixin container {
  @include forPc {
    margin-right: convertPxToVwPc(26);
    margin-left: convertPxToVwPc(26);
  }
}
